* {
  box-sizing: border-box;
}

.container {
  background-color: blueviolet;
  width: 33%;
}

.circle {
  width: 100%;
  aspect-ratio: 1;
  /* padding: 50%; alternatywne rozwiązanie */
  background-color: blanchedalmond;
  border-radius: 50%;
}
